<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sbb sidebar-brand d-flex align-items-center justify-content-center" href="/HomePage">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div  class="sidebar-brand-text mx-3 logo-txt">Trang Chủ <sup>💘</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Article">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Bài viết</span>
        </a>
    </li>

    <!-- Divider -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Article" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Danh Sách</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tables</h6>
                <a class="collapse-item" href="/Admin/Category">Thể loại</a>
                <a class="collapse-item" href="/Admin/Comment">Bình luận</a>
                <a class="collapse-item" href="/Admin/User">Người dùng</a>
            </div>
        </div>
    </li>



    <!-- Nav Item - Tables -->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message
    <div  class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="/Assets/admin/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>
    -->
</ul>
<!-- End of Sidebar -->